.events_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px 0 0 0;
}
.events_block_header {
  color: #292f36;
  font-weight: 600;
  text-align: center;
  font-size: 46px;
  font-family: "Oswald", sans-serif;
}
.events_block_header p:nth-child(1) {
  margin: 0;
  margin-top: 10px;
}
.events_block_header p:nth-child(2) {
  color: #292f36;
  font-size: 42px;
  margin: 0;
}
.events_block_header p span {
  color: #689f38;
}
.events_block_cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}
.card_item {
  position: relative;

  border-radius: 40px;

  color: white;
  width: 340px;
  height: 480px;
  /* background: url(../../assets/images/event_1.jpg) no-repeat center; */
  /* background-size: cover; */
  box-shadow: 1px -1px 10px rgba(67, 63, 63, 0.548);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  transition: all 150ms ease-out;
}

.card_item:hover {
  transform: scale(1.1);
  transition: all 250ms ease-in;
}

.card_item_bg {
  position: absolute;
  width: inherit;
  height: inherit;

  border-radius: 40px;
}
.card_item::after {
  position: absolute;
  z-index: 0;
  background: linear-gradient(rgba(230, 100, 100, 0), #000001c5);
  content: "";
  width: inherit;
  height: inherit;
}
.card_item button {
  font-family: "Oswald", sans-serif;

  z-index: 1;

  width: 100%;
  border: none;
  background: #292f36;
  color: white;
  outline: none;
  font-size: 26px;
  letter-spacing: 4px;
  padding: 10px;
  transition: all 200ms ease-out;
}
.card_item button:hover {
  background: #404953;
  transition: all 150ms ease-in;
  cursor: pointer;
}
.card_item_header {
  user-select: none;
  z-index: 1;
  font-family: "Jost", sans-serif;
}
.card_item_header p {
  font-size: 28px;
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
.card_item_title {
  user-select: none;
  font-family: "Jost", sans-serif;
  z-index: 1;
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;
}
